.Header{
    
    font-size: 20px;
    list-style-type: none;
    background-color: antiquewhite;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav a {
    text-decoration: none;
}





